.ajuste{
    display: grid;
    grid-template-columns: auto;
}

.title{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    /* color: white; */
}
.parrafo{
    text-align: justify;
    font-family: 'Josefin Sans', sans-serif;
    text-indent: 10px;
}
.cuadro{
    /* color: rgb(240, 232, 232); */
    background: linear-gradient(rgb(6, 51, 34),rgb(241, 238, 238));
    border: 2px;
    border-radius: 5%;
    padding: 40px;
    margin-bottom: 15px;
}