/* Variables */
$color-fothead: #242628 ;

/* mixin */
@mixin edit-parrafo{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-style: italic;
    text-align: center;
  }